<div class="footer-container" fxLayout fxLayoutAlign="center center" fxLayoutGap="32px">
  <div><a href="https://github.com/Natlen" target="blank"><img src="../assets/images/github_icon.png" style="padding-top: 5px;"></a></div>
  <div><a href="https://linkedin.com/in/nat-len" target="blank"><img src="../assets/images/linkedin_icon.png"></a></div>
  <div><a href="mailto:nativlengel11@gmail.com"><img src="../assets/images/email_icon.png" style="padding-top: 8px;"></a></div>
  <div><a href="https://discord.gg/Jkn2e4mBzD" target="blank"><img src="../assets/images/discord_icon.png" style="padding-top: 8px;"></a></div>
</div>