<div class="navbar-container">
  <div class="navbar-mobile-menu-icon" fxHide fxShow.xs fxFlexAlign="start"><mat-icon (click)="dropMenuDown()">menu</mat-icon></div>
  <div class="navbar-menu-entries-container" fxLayoutGap.gt-xs="32px" fxLayoutGap.xs="16px" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start cneter" fxshow.gt-xs fxHide.xs [fxShow.xs]="drop_down" fxLayout.xs="column" fxLayoutAlign.xs="center center">
    <div class="navbar-menu-entry" (click)="dropMenuDown()" [routerLink]="['/']">HOME</div>
    <div class="navbar-menu-entry separator" fxHide fxShow.xs></div>
    <div class="navbar-menu-entry" (click)="dropMenuDown()" [routerLink]="['/about-me']">ABOUT ME</div>
    <div class="navbar-menu-entry separator" fxHide fxShow.xs></div>
    <div class="navbar-menu-entry" (click)="dropMenuDown()" [routerLink]="['/projects']">PROJECTS</div>
  </div>
</div>