<div class="component-container">
    <div class="section-container">
        <h1 class="component-title">Home Works!</h1>
        <div class="component-text">
            Im nativ<br>
            Im nativ<br>
            Im nativ<br>
            Im nativ<br>
            Im nativ<br>
            Im nativ<br>
            Im nativ<br>
        </div>
    </div>
    <div class="section-container">
        <h1 class="component-title">Home Works!</h1>
        <div class="component-text">
            Im nativ 
            Im nativ 
            Im nativ 
            Im nativ 
            Im nativ 
            Im nativ 
        </div>
    </div>
</div>